img {
  margin: 0 5px;
  object-fit: contain;
  max-height: 20em;
}

div.button-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

div.img-container {
  width: 75%;
  height: 20em;
}

div.fixed {
  position: fixed;
}

div {
  text-align: center;
}